<mat-card>
  <mat-card-header>
    <mat-card-title>Logowanie</mat-card-title>
    <mat-card-subtitle>Proszę podać wprowadzić nazwę użytkownika i hasło a następnie kliknąć przycis "Zaloguj się"</mat-card-subtitle>
    
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="zaloguj-container">
    
    <mat-form-field>
      <input matInput formControlName="username" placeholder="Użytkownik">
    </mat-form-field>
    <mat-form-field>
      <input matInput  formControlName="password" placeholder="Hasło" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary">Zaloguj się</button>
  

  </div>
</form>
</mat-card>